* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
  color: #373737;
  display: block;
}

.App {
  text-align: center;
  background: lightblue;
  height: 100vh;
  background: #f4f4f4;
  background-position: 50%;
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.delete-btn {
  margin-right: 4px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
  position: absolute;
  right: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #474747;
  border-radius: 3px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 123, 0);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 0, 0);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 84px);
}

.profile-info {
  display: flex;
  font-size: 18px;
}
.profile-info-child {
  margin: 15px;
}

.profile-stats {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  padding: 15px;
  width: 400px;
}

.stats {
  margin: 5px;
  width: 100px;
}

.top-stat {
  margin: 0px 5px 5px 5px;
}
.bottom-stat {
  font-size: 30px;
}

/* .clickable-link-dash a {
  width: 276px;
  height: 60px;
} */

.welcome {
  max-width: 500px;
  width: 250px;
  background-color: lightgray;
  padding: 5px;
  margin: 10px auto;
  font-size: 18px;
  border-radius: 6px;
}

.formField {
  padding: 10px;
  font-size: 120%;
  margin: 7px;
}

.holder {
  min-height: 10px;
  min-width: 300px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing {
  height: calc(100vh - 85px);
  color: #17394d;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pen-edit {
  display: none;
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 15px;
  width: 30px;
  height: 30px;

  border-radius: 3px;
  background-color: #b9ab7da1;
}

.edit-btn {
  font-size: 18px;
  width: 30px;
  height: 30px;
  padding: 3px;
  border: 0px;
  margin-left: 10px;
  border-radius: 3px;
  background-color: #c0b283;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit-btn:hover {
  color: #fff;
}

.pen-edit:hover {
  background-color: #ad9f71;
}

.dashboard_card:hover > .pen-edit {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard_title {
  padding: 10px;
  font-size: 18px;
  text-align: left;
}

.dashboard_name {
  font-weight: 500;
  margin: 10px;
}

.error-msg {
  padding: 20px;
  background-color: #f44336;
  color: white;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  animation: FadeAnimation 3s ease-in 0.2s forwards;
}

@keyframes FadeAnimation {
  0% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.back-btn {
  padding-right: 2px;
}

/* .dashboards-list {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1800px;
  flex-wrap: wrap;
} */

.dashboard-container {
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
}

/* @media (max-width: 480px) {
  .dashboard-container {
    align-items: start;
    justify-content: center;
  }
} */

.dashboard_card {
  position: relative;
  font-size: 20px;
  text-align: left;
  background-color: #c0b283;
  padding: 15px;
  color: #373737;
  min-width: 273px;
  width: 276px;
  /* max-width: 280px; */
  border-radius: 3px;
  cursor: pointer;
  margin-left: 8px;
  margin-bottom: 8px;
  flex-shrink: 1;
}

.dashboard_card:hover {
  background-color: #b9ab7d;
}

.dashboard_card-form {
  background-color: #c0b283;

  padding: 15px;
  color: #373737;
  border-radius: 3px;
  margin-left: 8px;
  height: 60px;
  display: flex;
  min-width: 273px;
  width: 276px;
  max-width: 280px;
  align-items: center;
  justify-content: center;
}
.dashboard_card-form input {
  font-size: 20px;
  padding: 8px;
  max-width: 220px;
}

.add-btn {
  margin-left: 4px;
  padding: 8px;
  display: flex;
  font-size: 26px;
  background-color: #c0b283;
  border: none;
  border-radius: 3px;
}

.add-btn.fa-plus {
  margin: 0 2.5px;
}

.add-btn:hover {
  background-color: rgb(220, 208, 192);
}

.add-new_dashboard_card {
  font-size: 20px;
  background-color: #c0b2838e;
  padding: 15px;
  color: #373737;
  border-radius: 3px;
  margin-left: 8px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 276px;
  min-width: 273px;
  margin-bottom: 8px;
}

.add-new_task-list_card {
  color: #373737;
  font-weight: 600;
  padding: 3px;
  background: #e6dacc;
  margin: 5px;
  min-width: 300px;
  width: 300px;
  border-radius: 3px;
  cursor: pointer;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskstate_card-form input {
  padding: 4px;
  max-width: 260px;
  width: 260px;
}

.add-btn-tasklist {
  margin-left: 4px;
  padding: 8px;
  display: flex;
  border: none;
  border-radius: 3px;
  background: #e6dacc;
  cursor: pointer;
}

.add-btn.fa-plus {
  margin: 0 2.5px;
}

.add-btn-tasklist:hover {
  background-color: rgb(202, 187, 168);
}

.taskstate_card-form {
  color: #373737;
  padding: 3px;
  background: #e6dacc;
  margin: 5px;
  min-width: 300px;
  width: 300px;
  border-radius: 3px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tasks_card-form input {
  padding: 4px;
  max-width: 260px;
  width: 260px;
}

.tasks_card-form {
  color: #373737;
  padding: 3px;
  background: #dcd0c0;
  min-width: 300px;
  width: 300px;
  border-radius: 3px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.add-new_task-list_card:hover {
  background: #d8cbba;
}

.add-new_dashboard_card:hover {
  background-color: #c0b283ca;
  color: #fff;
}

.add-new_dashboard_card .fa-plus {
  margin-right: 5px;
}

.task {
  width: 150px;
  margin: 7px;
}

.tasklist {
  margin: 3px;
}

.modal {
  z-index: 100;
}

.taskstates_container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: flex-start;
  height: calc(100vh - 135px);
  /* height: 675px; */
  overflow-x: scroll;
  padding-bottom: 8px;
  padding-left: 8px;
  overflow-y: hidden;
  margin-right: 13px;
}

.logo {
  font-size: 32px;
  font-family: "Patrick Hand", cursive;
  text-align: left;
}

.taskstates_header {
  color: #373737;
  font-weight: 600;
  padding: 3px;
  text-align: left;
}

.addnew {
  color: #3d3d3d;
  padding: 8px;
  cursor: pointer;
}

.addnew:hover {
  background-color: #d3c5b5;
  border-radius: 0 0 3px 3px;
}

.delete-taskState {
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: #f5005680;
  height: 15px;
  width: 15px;
  display: none;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
}

.taskstates:hover > .delete-taskState {
  display: flex;
  justify-content: center;
  align-items: center;
}

.taskstates-overflow:hover > .delete-taskState {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-taskState:hover {
  background-color: #f50056e1;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.taskstates {
  background: #dcd0c0;
  margin: 5px;
  min-width: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
}

.holder:last-child {
  margin-bottom: 0px;
}

.taskstates-overflow {
  background: #dcd0c0;
  margin: 5px;
  min-width: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  padding-bottom: 8px;
}

.taskstates-overflow:hover {
  overflow-y: scroll;
  width: 305px;
}

.landing h1 {
  font-family: "Patrick Hand", cursive;
  font-size: 375%;
  color: #17394d;
  text-decoration: underline;
}

.cardList {
  color: #17394d;
  background-color: #dfe3e6;
  max-height: 100%;
  border-radius: 3px;
}
